/*#05070a
 #5863f8 #fcff3b */

/* General Classes and Properties */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 10px max(10px, 10%);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

/* Header */

img.hero-photo {
  position: absolute;
  width: auto;
  height: 80%;
  bottom: 0;
  z-index: -1;
  right: 10%;
}

.hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #080808, transparent 50%),
    url("./images/background.png") no-repeat center/cover;
  z-index: -1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  align-items: center;
}

nav h1 {
  font-size: 60px;
}

nav h1 span,
.header-text h1 span {
  color: #ff004f;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}
nav ul li a:hover::after {
  content: "";
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margit-top: 20px;
}

/* About me */
#about {
  padding: 80px 0;
  color: #ababab;
  min-height: 650px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  background-color: #262626;
  border-radius: 15px;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #b54769;
  font-size: 18px;
}

.tab-contents {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.tab-contents.active-tab {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* My Services */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div p {
  font-size: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

.services-list div a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #262626;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.services-list div a:hover::after {
  width: 100%; /* Плавно розширюється при наведенні */
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* My Work */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(255, 0, 79, 0.7));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 45px;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* Contacts */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  min-width: 350px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: all 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 18px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #ff004f;
}

/* CSS for Small Screens*/
nav .fa-solid {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1076px) {
  nav ul li {
    margin: 10px 10px;
  }

  nav h1 {
    font-size: 45px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .header-text {
    font-size: 24px;
  }

  .header-text h1 {
    font-size: 36px;
  }

  .about-col-1 {
    display: none;
  }

  .about-col-2 {
    flex-basis: 100%;
  }

  #contact .row {
    flex-direction: column;
  }

  .contact-left, .contact-right {
    width: 100%;
    text-align: center;
  }

  .sub-title {
    font-size: 45px;
  }
}
@media only screen and (max-width: 768px) {
  nav h1 {
    font-size: 45px;
  }

  .hero-photo {
    z-index: -1;
    left: 0;
    margin: 0 auto;
  }
  
  .header-text {
    margin-top: 55vh;
    font-size: 16px;
    text-align: center;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    visibility: hidden;
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    padding-top: 50px;
    opacity: 0;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  nav .fa-bars {
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 30px;
    z-index: 100;
  }

  nav ul.nav-active {
    visibility: visible;
    opacity: 1;
    right: 0;
    width: 200px;
  }

  .about-col-1 {
    display: none;
  }

  .about-col-2 {
    width: 100%;
  }

  #contact .row {
    flex-direction: column;
  }

  .contact-left, .contact-right, .services-list {
    width: 100%;
    text-align: center;
  }

  .sub-title {
    font-size: 45px;
  }
  #services .sub-title, #portfolio .sub-title {
    text-align: center;
  }

  .layer p {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .layer h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .layer a {
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
  }
}

/*
Фотку віталіка - йобнуть
Шрифт About me заголовку font size 48px і відцентрований
Скіли може відцентрувати хуй зна
контакти відцентрувати

Зробити підгрузку елементів через бекенд(чи апішку) бази джєйсона стєтхєма

брейк-пойнт 1 - 1176px

*/
